# Data Cleaning

In [ ]:
# read data
# data_path = '/user/mz3327_nyu_edu/restaurants/DOHMH_New_York_City_Restaurant_Inspection_Results.csv'
data_path = 'DOHMH_New_York_City_Restaurant_Inspection_Results.csv'

+--------+-----------+--------+--------+------------+-------+----------+-------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+---------------+----------------+---------------+----------------+------------+-------+----------+----+---------------+---------+-------------------+------------------+----------------------+----------------+
|   CAMIS|        DBA|    BORO|BUILDING|      STREET|ZIPCODE|     PHONE|CUISINE DESCRIPTION|INSPECTION DATE|              ACTION|VIOLATION CODE|VIOLATION DESCRIPTION| CRITICAL FLAG|SCORE|GRADE|GRADE DATE|RECORD DATE|     INSPECTION TYPE|       Latitude|       Longitude|Community Board|Council District|Census Tract|    BIN|       BBL| NTA|Location Point1|Zip Codes|Community Districts|Borough Boundaries|City Council Districts|Police Precincts|
+--------+-----------+--------+--------+------------+-------+----------+-------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+---------------+----------------+---------------+----------------+------------+-------+----------+----+---------------+---------+-------------------+------------------+----------------------+----------------+
|41283963|PAPA JOHN'S|Brooklyn|    5804|    5 AVENUE|  11220|7189217272|              Pizza|     01/26/2022|Violations were c...|           04L| Evidence of mice ...|      Critical|   13|    A|01/26/2022| 04/14/2023|Cycle Inspection ...|40.640525637746|-74.015090336292|            307|              38|        7400|3397962|3008550037|BK32|           null|     null|               null|              null|                  null|            null|
|50133127|       null|  Queens|   19005|HILLSIDE AVE|  11423|9176797448|               null|     01/01/1900|                null|          null|                 null|Not Applicable| null| null|      null| 04/14/2023|                null|40.715736957248|-73.771779426622|            408|              23|       47800|4223678|4104990075|QN06|           null|     null|               null|              null|                  null|            null|
+--------+-----------+--------+--------+------------+-------+----------+-------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+---------------+----------------+---------------+----------------+------------+-------+----------+----+---------------+---------+-------------------+------------------+----------------------+----------------+
only showing top 2 rows

In [ ]:
# read data
import pandas as pd

pd.set_option('display.max_columns', None)

df = pd.read_csv(data_path)
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,41283963,PAPA JOHN'S,Brooklyn,5804,5 AVENUE,11220.0,7189217272,Pizza,01/26/2022,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,13.0,A,01/26/2022,04/14/2023,Cycle Inspection / Re-inspection,40.640526,-74.015090,307.0,38.0,7400.0,3397962.0,3.008550e+09,BK32,NaN,NaN,NaN,NaN,NaN,NaN
1,50133127,NaN,Queens,19005,HILLSIDE AVE,11423.0,9176797448,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,04/14/2023,NaN,40.715737,-73.771779,408.0,23.0,47800.0,4223678.0,4.104990e+09,QN06,NaN,NaN,NaN,NaN,NaN,NaN
2,50113539,MackaTree,Brooklyn,417,MARCUS GARVEY BOULEVARD,11216.0,3476792021,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,04/14/2023,NaN,40.682815,-73.937999,303.0,36.0,27500.0,3046354.0,3.016640e+09,BK35,NaN,NaN,NaN,NaN,NaN,NaN
3,50059874,GINZA SUSHI,Brooklyn,2809,OCEAN AVENUE,11229.0,7187696028,Japanese,12/27/2022,Violations were cited in the following area(s).,04M,Live roaches in facility's food or non-food area.,Critical,21.0,B,12/27/2022,04/14/2023,Cycle Inspection / Re-inspection,40.593102,-73.950210,315.0,48.0,59401.0,3202166.0,3.074050e+09,BK17,NaN,NaN,NaN,NaN,NaN,NaN
4,50131148,NaN,Bronx,969,PROSPECT AVE,10459.0,6466833982,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,04/14/2023,NaN,40.822922,-73.900281,203.0,17.0,12901.0,2098575.0,2.026780e+09,BX33,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#check what fraction of rows are null for each column
null_stats = df.isna().astype(int).describe()
# df.info()
print(null_stats.loc['mean', :])

CAMIS                     0.000000
DBA                       0.008443
BORO                      0.000000
BUILDING                  0.001956
STREET                    0.000132
ZIPCODE                   0.013753
PHONE                     0.000054
CUISINE DESCRIPTION       0.021255
INSPECTION DATE           0.000000
ACTION                    0.021255
VIOLATION CODE            0.027051
VIOLATION DESCRIPTION     0.027051
CRITICAL FLAG             0.000000
SCORE                     0.053488
GRADE                     0.504984
GRADE DATE                0.540296
RECORD DATE               0.000000
INSPECTION TYPE           0.021255
Latitude                  0.001540
Longitude                 0.001540
Community Board           0.016769
Council District          0.016769
Census Tract              0.016769
BIN                       0.022020
BBL                       0.003148
NTA                       0.016769
Location Point1           1.000000
Zip Codes                 1.000000
Community Districts       1.000000
Borough Boundaries        1.000000
City Council Districts    1.000000
Police Precincts          1.000000
Name: mean, dtype: float64

In [ ]:
# drop columns which contain at least 50% null values
drop_columns = []
for col in null_stats.columns:
    if null_stats.loc['mean', col] >= 0.5:
        print(col, null_stats.loc['mean', col])
        drop_columns.append(col)

df.drop(columns = drop_columns, inplace=True)
df.describe()

GRADE 0.5049840402841859
GRADE DATE 0.5402964437536467
Location Point1 1.0
Zip Codes 1.0
Community Districts 1.0
Borough Boundaries 1.0
City Council Districts 1.0
Police Precincts 1.0

,CAMIS,ZIPCODE,SCORE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL
count,2.039510e+05,201146.000000,193042.000000,203637.000000,203637.000000,200531.000000,200531.000000,200531.000000,1.994600e+05,2.033090e+05
mean,4.726189e+07,10701.716494,21.952316,40.172066,-72.932447,252.679516,20.575527,29878.452658,2.554362e+06,2.441907e+09
std,4.147896e+06,593.847106,16.992658,4.724882,8.577463,129.608585,15.775838,31372.564573,1.340449e+06,1.332931e+09
min,3.007544e+07,8512.000000,0.000000,0.000000,-74.249101,101.000000,1.000000,100.000000,1.000000e+06,1.000000e+00
25%,4.159531e+07,10023.000000,11.000000,40.683423,-73.988909,106.000000,4.000000,7900.000000,1.049985e+06,1.010640e+09
50%,5.005502e+07,11101.000000,18.000000,40.730754,-73.956289,302.000000,20.000000,17300.000000,3.016610e+06,3.006000e+09
75%,5.009823e+07,11230.000000,29.000000,40.761606,-73.896112,401.000000,34.000000,42200.000000,4.003516e+06,4.002340e+09
max,5.013498e+07,14228.000000,157.000000,40.912822,0.000000,595.000000,51.000000,162100.000000,5.799501e+06,5.270001e+09

In [ ]:
#check null stats for remaining columns
df.isna().astype(int).describe().loc['mean', :]

CAMIS                    0.000000
DBA                      0.008443
BORO                     0.000000
BUILDING                 0.001956
STREET                   0.000132
ZIPCODE                  0.013753
PHONE                    0.000054
CUISINE DESCRIPTION      0.021255
INSPECTION DATE          0.000000
ACTION                   0.021255
VIOLATION CODE           0.027051
VIOLATION DESCRIPTION    0.027051
CRITICAL FLAG            0.000000
SCORE                    0.053488
RECORD DATE              0.000000
INSPECTION TYPE          0.021255
Latitude                 0.001540
Longitude                0.001540
Community Board          0.016769
Council District         0.016769
Census Tract             0.016769
BIN                      0.022020
BBL                      0.003148
NTA                      0.016769
Name: mean, dtype: float64

In [ ]:
# Discard columns that are not required for the analysis
df.drop(columns = ['BUILDING', 'STREET', 'RECORD DATE', 'Community Board', 'Council District', 'Census Tract', 'NTA'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203951 entries, 0 to 203950
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  203951 non-null  int64
 1   DBA                    202229 non-null  object
 2   BORO                   203951 non-null  object
 3   ZIPCODE                201146 non-null  float64
 4   PHONE                  203940 non-null  object
 5   CUISINE DESCRIPTION    199616 non-null  object
 6   INSPECTION DATE        203951 non-null  object
 7   ACTION                 199616 non-null  object
 8   VIOLATION CODE         198434 non-null  object
 9   VIOLATION DESCRIPTION  198434 non-null  object
 10  CRITICAL FLAG          203951 non-null  object
 11  SCORE                  193042 non-null  float64
 12  INSPECTION TYPE        199616 non-null  object
 13  Latitude               203637 non-null  float64
 14  Longitude              203637 non-null  float64
 15  BIN                    199460 non-null  float64
 16  BBL                    203309 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 26.5+ MB

In [ ]:
#remove null values in the cusine description column
df = df[df['CUISINE DESCRIPTION'].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199616 entries, 0 to 203950
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  199616 non-null  int64
 1   DBA                    199616 non-null  object
 2   BORO                   199616 non-null  object
 3   ZIPCODE                196902 non-null  float64
 4   PHONE                  199607 non-null  object
 5   CUISINE DESCRIPTION    199616 non-null  object
 6   INSPECTION DATE        199616 non-null  object
 7   ACTION                 199616 non-null  object
 8   VIOLATION CODE         198434 non-null  object
 9   VIOLATION DESCRIPTION  198434 non-null  object
 10  CRITICAL FLAG          199616 non-null  object
 11  SCORE                  193042 non-null  float64
 12  INSPECTION TYPE        199616 non-null  object
 13  Latitude               199368 non-null  float64
 14  Longitude              199368 non-null  float64
 15  BIN                    195336 non-null  float64
 16  BBL                    199049 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 27.4+ MB

In [ ]:
#check rows which have null zip codes
df[df['ZIPCODE'].isnull()].head(20)

,CAMIS,DBA,BORO,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,INSPECTION TYPE,Latitude,Longitude,BIN,BBL
61,50105605,LALIBELA ETHIOPIAN RESTAURANT,Manhattan,NaN,9178819775,Ethiopian,11/29/2021,Violations were cited in the following area(s).,04M,Live roaches present in facility's food and/or...,Critical,45.0,Pre-permit (Operational) / Initial Inspection,0.0,0.0,NaN,1.0
79,41395519,CITI FIELD STAND 321,Queens,NaN,7185958100,American,06/13/2017,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
96,50039447,CHINA HOUSE,Bronx,NaN,7188936187,Chinese,03/09/2019,Violations were cited in the following area(s).,20F,Current letter grade sign not posted.,Not Critical,NaN,Administrative Miscellaneous / Initial Inspection,0.0,0.0,NaN,2.0
170,50068583,RED STAR CHINESE RESTAURANT,Manhattan,NaN,6463355592,Chinese,05/09/2019,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,30.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
287,41395496,"CITI FIELD TWO BOOTS, STAND 318",Queens,NaN,7185958100,American,06/07/2016,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
293,41395505,CITI FIELD NATHAN'S FAMOUS STAND 325,Queens,NaN,7185958100,Hotdogs,06/07/2016,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
321,41423331,CHOP-STICKS RESTAURANT,Bronx,NaN,7182048119,Chinese,04/04/2022,Violations were cited in the following area(s).,09B,Thawing procedures improper.,Not Critical,6.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,2.0
338,41203533,GREAT TASTE BAKERY,Manhattan,NaN,6466424110,Bakery Products/Desserts,08/16/2021,Violations were cited in the following area(s).,22F,MISBRANDED AND LABELING,Not Critical,NaN,Administrative Miscellaneous / Initial Inspection,0.0,0.0,NaN,1.0
376,40720858,PIER SIXTY ONE-THE LIGHTHOUSE,Manhattan,NaN,2123366146,American,03/08/2022,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,29.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
459,41203533,GREAT TASTE BAKERY,Manhattan,NaN,6466424110,Bakery Products/Desserts,11/18/2019,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140 F.,Critical,24.0,Cycle Inspection / Re-inspection,0.0,0.0,NaN,1.0
462,41184659,LA CASA DEL MOFONGO,Manhattan,NaN,2127401200,Latin American,02/23/2023,Violations were cited in the following area(s).,09B,Thawing procedure improper.,Not Critical,25.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
495,50018572,NIKKO HIBACHI STEAKHOUSE & LOUNGE,Queens,NaN,7188208818,Japanese,08/23/2021,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140 F.,Critical,33.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
508,50001856,DUNKIN,Manhattan,NaN,2122806414,Donuts,08/29/2022,Violations were cited in the following area(s).,04L,Evidence of mice or live mice in establishment...,Critical,26.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
545,41276645,ECUATORIANA RESTAURANT,Manhattan,NaN,2124914626,Spanish,03/08/2023,Violations were cited in the following area(s).,02B,Hot TCS food item not held at or above 140 F.,Critical,12.0,Cycle Inspection / Re-inspection,0.0,0.0,NaN,1.0
561,40958170,SOHO HOUSE,Manhattan,NaN,2126279800,American,03/13/2020,Violations were cited in the following area(s).,10J,Hand wash sign not posted,Not Critical,23.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
563,41395419,CITI FIELD STAND 402,Queens,NaN,7185958146,American,06/05/2018,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
767,41395378,CITI FIELD STERLING KITCHEN,Queens,NaN,7185958100,American,06/07/2016,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
822,40874933,NUMERO 28 PIZZERIA,Manhattan,NaN,2124639653,Italian,05/25/2017,Violations were cited in the following area(s).,09B,Thawing procedures improper.,Not Critical,12.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
830,40874933,NUMERO 28 PIZZERIA,Manhattan,NaN,2124639653,Italian,09/26/2019,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,NaN,Administrative Miscellaneous / Re-inspection,0.0,0.0,NaN,1.0
842,50018572,NIKKO HIBACHI STEAKHOUSE & LOUNGE,Queens,NaN,7188208818,Japanese,12/01/2021,Violations were cited in the following area(s).,06F,Wiping cloths soiled or not stored in sanitizi...,Critical,10.0,Cycle Inspection / Re-inspection,0.0,0.0,NaN,4.0

In [ ]:
# as the data above doesn't represent a specific sub population we can drop the small number of rows
#remove null values in the zipcode column
df = df[df['ZIPCODE'].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196902 entries, 0 to 203950
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  196902 non-null  int64
 1   DBA                    196902 non-null  object
 2   BORO                   196902 non-null  object
 3   ZIPCODE                196902 non-null  float64
 4   PHONE                  196893 non-null  object
 5   CUISINE DESCRIPTION    196902 non-null  object
 6   INSPECTION DATE        196902 non-null  object
 7   ACTION                 196902 non-null  object
 8   VIOLATION CODE         195786 non-null  object
 9   VIOLATION DESCRIPTION  195786 non-null  object
 10  CRITICAL FLAG          196902 non-null  object
 11  SCORE                  190413 non-null  float64
 12  INSPECTION TYPE        196902 non-null  object
 13  Latitude               196654 non-null  float64
 14  Longitude              196654 non-null  float64
 15  BIN                    195318 non-null  float64
 16  BBL                    196335 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 27.0+ MB

In [ ]:
# convert INSPECTION DATE column to datetime
df["INSPECTION DATE"] = pd.to_datetime(df["INSPECTION DATE"])
df['INSPECTION YEAR'] = df['INSPECTION DATE'].dt.year

In [ ]:
# find rows where inspection date is < 2016 or  > 2023
df2 = df.groupby(['INSPECTION YEAR'])['INSPECTION YEAR'].count()
df2.sort_values(ascending = False).head(15)

INSPECTION YEAR
2022    91126
2023    31864
2019    29828
2021    21439
2020    16034
2018     3771
2017     2229
2016      582
2015       20
2013        6
2012        2
2011        1
Name: INSPECTION YEAR, dtype: int64

In [ ]:
# removing the small fraction of rows which have inspection year <= 2016
df = df[df['INSPECTION YEAR'] > 2016]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196291 entries, 0 to 203950
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  196291 non-null  int64
 1   DBA                    196291 non-null  object
 2   BORO                   196291 non-null  object
 3   ZIPCODE                196291 non-null  float64
 4   PHONE                  196282 non-null  object
 5   CUISINE DESCRIPTION    196291 non-null  object
 6   INSPECTION DATE        196291 non-null  datetime64[ns]
 7   ACTION                 196291 non-null  object
 8   VIOLATION CODE         195196 non-null  object
 9   VIOLATION DESCRIPTION  195196 non-null  object
 10  CRITICAL FLAG          196291 non-null  object
 11  SCORE                  189837 non-null  float64
 12  INSPECTION TYPE        196291 non-null  object
 13  Latitude               196049 non-null  float64
 14  Longitude              196049 non-null  float64
 15  BIN                    194715 non-null  float64
 16  BBL                    195732 non-null  float64
 17  INSPECTION YEAR        196291 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(9)
memory usage: 28.5+ MB

In [ ]:
# drop duplicate rows
df1 = df.drop_duplicates()
# counting unique values in CAMIS column: Establishments are uniquely identified by their CAMIS (record ID) number.
print(len(df["CAMIS"].unique()))
print(len(df.index))

23624
196291

In [ ]:
#checking for invalid values in BORO column
df['BORO'].unique()

array(['Brooklyn', 'Queens', 'Manhattan', 'Bronx', 'Staten Island', '0'],
      dtype=object)

In [ ]:
df2 = df.groupby(['BORO'])['BORO'].count()
df2.sort_values(ascending = False).head(15)

BORO
Manhattan        72789
Brooklyn         52527
Queens           46185
Bronx            18397
Staten Island     6363
0                   30
Name: BORO, dtype: int64

In [ ]:
#change 0 to UNKNOWN; value can be inferred from zipcode if required for analysis
df['BORO'] = df['BORO'].replace('0', 'UNKNOWN')

In [ ]:
# fix column types

df['CAMIS'] = df['CAMIS'].astype(str)
df['ZIPCODE'] = df['ZIPCODE'].astype(int).astype(str)
df['BIN'] = df['BIN'].astype('Int64').astype(str)
df['BBL'] = df['BBL'].astype('Int64').astype(str)

In [ ]:
# ensure all zipcodes are of same length - add preceding 0s if required
df['ZIPCODE'].str.len().unique()

array([5])

In [ ]:
# ensure violation codes are valid; data sourced from : https://www.nyc.gov/assets/doh/downloads/pdf/about/healthcode/health-code-chapter23.pdf
valid_codes = ['02A','02B','02C','02D','02E','02F','02G','02H','02I','02J','03A','03B','03C','03D','03E','03F','03G','03I','04A','04B','04C','04D','04E','04F','04G','04H','04I','04J','04K','04L','04M','04N','04O','04P','05A','05B','05C','05D','05E','05F','05G','05H','05I','06A','06B','06C','06D','06E','06F','06G','06H','06I','06J','07A','08A','08B','08C','09A','09B','09C','09D','09E','10A','10B','10C','10D','10E','10F','10G','10H','15-01','15-05','15-06','15-07','15-08','15-09','15-13','15-14','15-15','15-16','15-17','15-21','15-22','15-26','15-27','15-28','15-29','15-30','15-31','15-32','15-33','15-34','15-35','15-36','15-37','15-38','15-39','15-40','15-41','15-42','15-48','15-49','15-50','15-51','15-52','15-53','15-54','15-55','15-56','16-01','16-02','16-03','16-04','16-06','16-08','16-09','16-10','16-11','17-01','17-03','18-01','18-02','18-08','18-10','18-11','18-12','18-13','18-14','18-15','18-25','19-01','19-02','19-03','19-04','19-05','19-06','19-07','19-08','19-09','19-10','19-11','20-01','20-02','20-03','20-04','20-05','20-06','20-07','20-08','26-04','28-01','28-02','28-03','28-04','28-05','28-06','28-07','28-09','28-10']
data_codes = set(list(df['VIOLATION CODE'].unique()))
valid_codes_set = set(valid_codes)
data_codes - valid_codes_set
# TODO : remove these rows?

{'10I',
 '10J',
 '15A1',
 '15E2',
 '15E3',
 '15F1',
 '15F2',
 '15F6',
 '15F7',
 '15F8',
 '15I',
 '15L',
 '15S',
 '16A',
 '16B',
 '16C',
 '16D',
 '16E',
 '17A1',
 '18B',
 '18C',
 '18D',
 '18F',
 '18G',
 '20A',
 '20C',
 '20D',
 '20E',
 '20F',
 '22A',
 '22C',
 '22E',
 '22F',
 '22G',
 nan}

In [ ]:
# checking that Lat Long are in a small range around New York
df.loc[:, ['Latitude', 'Longitude']].describe()

            Latitude      Longitude
count  196049.000000  196049.000000
mean       40.727601     -73.941057
std         0.068769       0.075316
min        40.499563     -74.248708
25%        40.685782     -73.989099
50%        40.732199     -73.957162
75%        40.761992     -73.899441
max        40.912822     -73.700928

In [ ]:
# save cleaned data
df.to_csv('DOHMH_New_York_City_Restaurant_Inspection_Results_cleaned.csv', index = False)

In [ ]:
# TODO : fingerprint function for DBA / cuisine description / INSPECTION TYPE /  for entity resolution

# EDA

In [ ]:
# install spark for colab
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
#start spark session
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark import SparkContext, SparkConf
cf = SparkConf()
cf.set("spark.submit.deployMode","client")
sc = SparkContext.getOrCreate(cf)
from pyspark.sql import SparkSession
spark = SparkSession \
        .builder \
        .appName("big_data") \
        .config("spark.driver.memory", "12g") \
        .getOrCreate()

spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better

In [ ]:
# read data
# data_path = '/user/mz3327_nyu_edu/restaurants/DOHMH_New_York_City_Restaurant_Inspection_Results.csv'
data_path = 'DOHMH_New_York_City_Restaurant_Inspection_Results_cleaned.csv'

inspection_df = spark.read.csv(path=data_path, header=True, inferSchema = True)
inspection_df.show(2)

+--------+-----------+--------+-------+----------+-------------------+---------------+--------------------+--------------+---------------------+-------------+-----+--------------------+---------------+----------------+-------+----------+---------------+
|   CAMIS|        DBA|    BORO|ZIPCODE|     PHONE|CUISINE DESCRIPTION|INSPECTION DATE|              ACTION|VIOLATION CODE|VIOLATION DESCRIPTION|CRITICAL FLAG|SCORE|     INSPECTION TYPE|       Latitude|       Longitude|    BIN|       BBL|INSPECTION YEAR|
+--------+-----------+--------+-------+----------+-------------------+---------------+--------------------+--------------+---------------------+-------------+-----+--------------------+---------------+----------------+-------+----------+---------------+
|41283963|PAPA JOHN'S|Brooklyn|  11220|7189217272|              Pizza|     2022-01-26|Violations were c...|           04L| Evidence of mice ...|     Critical| 13.0|Cycle Inspection ...|40.640525637746|-74.015090336292|3397962|3008550037|           2022|
|50059874|GINZA SUSHI|Brooklyn|  11229|7187696028|           Japanese|     2022-12-27|Violations were c...|           04M| Live roaches in f...|     Critical| 21.0|Cycle Inspection ...|   40.593102392|-73.950210025286|3202166|3074050039|           2022|
+--------+-----------+--------+-------+----------+-------------------+---------------+--------------------+--------------+---------------------+-------------+-----+--------------------+---------------+----------------+-------+----------+---------------+
only showing top 2 rows

In [11]:
import numpy as np
import matplotlib.pyplot as plt
import math

import string, unicodedata
from pyspark.sql import functions as F

def fingerprint(value):
    key = unicodedata.normalize('NFKD', value).encode('ascii','ignore').decode()
    key = set(key.strip().lower().translate(str.maketrans('','',string.punctuation)).split())
    key = ' '.join(sorted(list(key)))
    return (key, value)

def fingerprint_lenient(value):
    key = unicodedata.normalize('NFKD', value).encode('ascii','ignore').decode()
    key = list(key.strip().lower().translate(str.maketrans('','',string.punctuation)).split())
    key = ' '.join(sorted(list(key)))
    return (key, value)

In [12]:
restaurant_rdd = inspection_df.select('DBA').rdd.flatMap(list)
print(restaurant_rdd.take(5))
duplicates = restaurant_rdd.distinct(). \
	map(fingerprint_lenient). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1). \
	mapValues(list). \
	collect()

print(duplicates)

["PAPA JOHN'S", 'GINZA SUSHI', 'XIN HUO BAN', 'MARC FORGIONE', 'PUEBLA PUEBLA BAR RESTAURANT']
[('johns papa', ["PAPA JOHN'S", 'PAPA JOHNS']), ('ginza sushi', ['GINZA SUSHI', 'SUSHI GINZA']), ('johns papa pizza', ["PAPA JOHN'S PIZZA", 'PAPA JOHNS PIZZA']), ('la patrona', ['La Patrona', 'LA PATRONA']), ('fairfield inn suites', ['FAIRFIELD INN & SUITES', 'Fairfield Inn & Suites']), ('chicken daves hot', ["DAVE'S HOT CHICKEN", 'DAVES HOT CHICKEN']), ('coffee gregorys', ['GREGORYS COFFEE', "GREGORY'S COFFEE"]), ('deninos pizzeria tavern', ["DENINO'S PIZZERIA TAVERN", "DENINO'S PIZZERIA & TAVERN"]), ('carvel', ['CARVEL', 'Carvel']), ('cafe coffee le', ['LE CAFE COFFEE', 'LE CAF COFFEE']), ('momentea', ['Momentea', 'MOMENTEA']), ('donuts dunkin', ['DUNKIN DONUTS', "DUNKIN' DONUTS", 'Dunkin Donuts']), ('jaiya oriental restaurant thai', ['JAIYA THAI & ORIENTAL RESTAURANT', 'JAIYA THAI ORIENTAL RESTAURANT']), ('burger king popeyes', ['BURGER KING, POPEYES', 'POPEYES/ BURGER KING']), ('blank street', ['Blank Street', 'BLANK STREET']), ('brooklyn house wing', ['BROOKLYN WING HOUSE', 'Brooklyn Wing House']), ('china new', ['New China', 'NEW CHINA']), ('bento sushi wasabi', ['WASABI SUSHI BENTO', 'WASABI SUSHI & BENTO']), ('ices ralphs', ['RALPHS ICES', "RALPH'S  ICES"]), ('chicken for mad', ['MAD FOR CHICKEN', 'Mad For Chicken']), ('bbq mighty quinns', ["MIGHTY QUINN'S BBQ", "Mighty Quinn's BBQ"]), ('bros grill halal', ['Halal Bros Grill', 'HALAL BROS GRILL']), ('sushi tokyo', ['SUSHI TOKYO', 'Tokyo Sushi']), ('burger chicken texas', ['Texas Chicken & Burger', 'TEXAS CHICKEN & BURGER']), ('pizza roma', ['ROMA PIZZA', 'Roma Pizza']), ('kitchen louisiana popeyes', ['POPEYES LOUISIANA KITCHEN', 'Popeyes Louisiana Kitchen', "POPEYE'S LOUISIANA KITCHEN"]), ('cafe luna', ['CAFE LUNA', 'LUNA CAFE']), ('bella pizza restaurant', ['BELLA PIZZA & RESTAURANT', 'BELLA PIZZA RESTAURANT']), ('by claudette cuisine', ['Cuisine by Claudette', 'CUISINE BY CLAUDETTE']), ('co fresh', ['FRESH & CO', 'FRESH & CO.']), ('celtic playwright pub', ['PLAYWRIGHT CELTIC PUB', 'Playwright Celtic Pub']), ('salumeria sergimmo', ['SERGIMMO SALUMERIA', 'Sergimmo Salumeria']), ('coffee marathon', ['MARATHON COFFEE', 'Marathon Coffee']), ('ninos restaurant', ['NINOS RESTAURANT', "NINO'S RESTAURANT"]), ('bakery patis', ["PATI'S BAKERY", 'PATIS BAKERY']), ('bolios emack', ["EMACK & BOLIO'S", 'EMACK & BOLIOS']), ('coco fresh juice tea', ['COCO FRESH TEA & JUICE', 'Coco Fresh Tea & Juice']), ('coffee fillup', ['FILLUP COFFEE', 'Fillup Coffee']), ('capt loui', ["CAP'T LOUI", 'CAPT LOUI']), ('hamiltons', ["HAMILTON'S", 'HAMILTONS']), ('koi sushi', ['SUSHI KOI', 'KOI SUSHI']), ('falafel mamouns', ['MAMOUNS FALAFEL', "MAMOUN'S FALAFEL"]), ('justinos pizzeria', ["JUSTINO'S PIZZERIA", 'JUSTINOS PIZZERIA']), ('luigis pizza', ['LUIGIS PIZZA', "Luigi's Pizza", "LUIGI'S PIZZA"]), ('flavors jamaican', ['JAMAICAN FLAVORS', 'Jamaican Flavors']), ('1 no restaurant', ['NO 1 RESTAURANT', 'NO. 1 RESTAURANT']), ('mikes pizza', ['MIKES PIZZA', "MIKE'S PIZZA"]), ('bagels zuckers', ['ZUCKERS BAGELS', "ZUCKER'S BAGELS"]), ('friedmans', ['FRIEDMANS', "FRIEDMAN'S"]), ('empire kitchen', ['EMPIRE KITCHEN', 'EMPIRE KITCHEN .']), ('brooklyn tea', ['Brooklyn Tea', 'BROOKLYN TEA']), ('andrews coffee shop', ["ANDREW'S COFFEE SHOP", 'ANDREWS COFFEE SHOP']), ('chef kings', ["KING'S CHEF", 'KINGS CHEF']), ('bagels liberty', ['Liberty Bagels', 'LIBERTY BAGELS']), ('jacks steakhouse uncle', ["UNCLE JACK'S STEAKHOUSE", 'UNCLE JACKS STEAKHOUSE']), ('pattanian thai', ['PATTANIAN THAI', 'Pattanian Thai']), ('halalbees', ["HALALBEE'S", 'HALALBEES']), ('bakery mocana', ['BAKERY MOCANA', 'MOCANA BAKERY']), ('diner parsons', ['PARSONS DINER', "PARSON'S DINER"]), ('eats mexican qdoba', ['QDOBA Mexican Eats', 'QDOBA MEXICAN EATS']), ('bubbakoos burritos', ['Bubbakoos burritos', "BUBBAKOO'S BURRITOS"]), ('cove fishermans', ['FISHERMANS COVE', "FISHERMAN'S COVE"]), ('busters dave', ["DAVE & BUSTER'S", 'DAVE & BUSTERS']), ('florinda restaurant', ['Florinda Restaurant', 'FLORINDA RESTAURANT']), ('grill master', ['GRILL MASTER', 'MASTER GRILL']), ('ramen tamashii', ['Tamashii Ramen', 'TAMASHII RAMEN']), ('burger daily', ['Daily Burger', 'DAILY BURGER']), ('cafe effys', ['EFFYS CAFE', "EFFY'S CAFE"]), ('again come thank you', ['THANK YOU, COME AGAIN', 'THANK YOU COME AGAIN']), ('dominos pizza', ["DOMINO'S PIZZA", 'DOMINOS PIZZA']), ('bell hut pizza taco', ['TACO BELL PIZZA HUT', 'TACO BELL, PIZZA HUT']), ('cafe hestia', ['CAFE HESTIA', 'CAF HESTIA']), ('double dragon', ['Double Dragon', 'DOUBLE DRAGON']), ('bedstuy fish fry', ['Bed-Stuy Fish Fry', 'BED-STUY FISH FRY']), ('luigis pizzeria', ['LUIGIS PIZZERIA', "LUIGI'S PIZZERIA"]), ('kitchen szechuan', ['SZECHUAN KITCHEN', 'Szechuan Kitchen']), ('pretzels wetzels', ["WETZEL'S PRETZELS", 'WETZELS PRETZELS']), ('pizza', ['PIZZA', '& PIZZA']), ('corner social', ['SOCIAL CORNER', 'CORNER SOCIAL']), ('mezcals restaurant', ["MEZCAL'S RESTAURANT", 'MEZCALS RESTAURANT']), ('1 pizza slice', ['$1 SLICE PIZZA', '$1 PIZZA SLICE']), ('bake brew eas n', ["E&A'S BAKE N BREW", 'E&AS BAKE N BREW']), ('baguette paris', ['Paris Baguette', 'PARIS BAGUETTE']), ('palace silver', ['Silver Palace', 'SILVER PALACE']), ('subway', ['SUBWAY', 'Subway']), ('chicken fried kennedy', ['KENNEDY FRIED CHICKEN', 'Kennedy Fried Chicken']), ('checkers', ['CHECKERS', "CHECKER'S"]), ('pickabagel', ['Pick-A-Bagel', 'PICK-A-BAGEL']), ('dumplings oh', ['OH! DUMPLINGS', 'OH DUMPLINGS']), ('bella pizza', ['PIZZA BELLA', 'BELLA PIZZA']), ('cafe metro', ['METRO CAFE', 'CAFE METRO']), ('chicken fried kentucky', ['Kentucky Fried Chicken', 'KENTUCKY FRIED CHICKEN']), ('carvel cinnabon', ['CARVEL CINNABON', 'CARVEL, CINNABON']), ('101 cafe', ['CAFE 101', '101 CAFE']), ('sushi yu', ['YU SUSHI', 'SUSHI YU']), ('fly on the vegan', ['VEGAN ON THE FLY', 'Vegan On The Fly']), ('chens garden', ["CHEN'S GARDEN", 'CHENS GARDEN']), ('bowl poke', ['POKE BOWL', 'Poke Bowl']), ('schnippers', ['SCHNIPPERS', "SCHNIPPER'S"]), ('dr smood', ['DR. SMOOD', 'DR SMOOD']), ('biryani house khalil', ['KHALIL BIRYANI  HOUSE', 'KHALIL BIRYANI HOUSE']), ('dunkin popeyes', ["POPEYES, DUNKIN'", "DUNKIN', POPEYES"]), ('lennys pizzeria', ["LENNY'S PIZZERIA", 'LENNYS PIZZERIA']), ('kitchen mediterranean taim', ['Taim Mediterranean Kitchen', 'Taim Mediterranean kitchen']), ('bagel oh', ['OH! BAGEL', 'OH BAGEL']), ('cafe madison', ['MADISON CAFE', 'CAFE MADISON']), ('pizzeria tonys', ['TONYS PIZZERIA', "TONY'S PIZZERIA"]), ('halal munchies', ['HALAL MUNCHIES', 'Halal Munchies']), ('chinese no1 restaurant', ['No.1 CHINESE RESTAURANT', 'NO.1 CHINESE RESTAURANT']), ('allowed chewing no', ['NO CHEWING ALLOWED', 'NO CHEWING ALLOWED!']), ('and chicken fried kennedy pizza', ['KENNEDY FRIED CHICKEN AND PIZZA', 'Kennedy Fried Chicken and Pizza']), ('dunkin', ['DUNKIN', "DUNKIN'", 'Dunkin', 'DUNKIN']), ('baskin dunkin robbins', ["DUNKIN', BASKIN ROBBINS", 'DUNKIN / BASKIN ROBBINS', 'DUNKIN, BASKIN ROBBINS', "DUNKIN' / BASKIN ROBBINS", 'DUNKIN , BASKIN ROBBINS', "DUNKIN', 'BASKIN ROBBINS", 'DUNKIN & BASKIN ROBBINS', "DUNKIN',' BASKIN ROBBINS", 'DUNKIN BASKIN ROBBINS', 'DUNKIN - BASKIN ROBBINS']), ('bell kfc taco', ['KFC, TACO BELL', 'TACO BELL, KFC']), ('mcdonalds', ["MCDONALD'S", 'MCDONALDS', "McDONALD'S"]), ('deep indian kitchen', ['DEEP INDIAN KITCHEN', 'Deep Indian Kitchen']), ('chopt', ["CHOP'T", 'CHOPT']), ('dominos', ['DOMINOS', 'Dominos', "DOMINO'S"]), ('kabab king', ['KABAB KING', 'KING KABAB']), ('hamburger jimbos', ["JIMBO'S HAMBURGER", 'JIMBOS HAMBURGER']), ('damore pizza', ["PIZZA D'AMORE", 'PIZZA DAMORE']), ('bed fish fry stuy', ['Bed Stuy Fish Fry', 'BED STUY FISH FRY']), ('a pizzeria s', ['S & A PIZZERIA', 'A & S PIZZERIA']), ('cha gong', ['GONG CHA', 'Gong Cha']), ('bagel pub', ['BAGEL PUB', 'Bagel Pub']), ('restaurant wimpys', ["WIMPY'S RESTAURANT", 'WIMPYS RESTAURANT']), ('etc', ['ETC.', 'ETC']), ('bites of xian', ["BITES OF XI'AN", 'BITES OF XIAN']), ('cafe paris', ['PARIS CAFE', 'CAFE PARIS']), ('wendys', ['WENDYS', "WENDY'S"]), ('kings wok', ["KING'S WOK", 'KINGS WOK']), ('baskin donuts dunkin robbins', ['DUNKIN DONUTS BASKIN ROBBINS', "DUNKIN' DONUTS / BASKIN ROBBINS"]), ('angelos pizzeria', ["ANGELO'S PIZZERIA", 'ANGELOS PIZZERIA']), ('burrito hungry', ['Hungry Burrito', 'HUNGRY BURRITO']), ('bell taco', ['TACO BELL', 'Taco Bell']), ('fridays tgi', ["T.G.I. FRIDAY'S", "TGI FRIDAY'S"]), ('coffee ghost hungry', ['HUNGRY GHOST COFFEE', 'Hungry Ghost Coffee']), ('dunkinbaskin robbins', ["DUNKIN'/BASKIN ROBBINS", 'DUNKIN/BASKIN ROBBINS']), ('dazs haagen', ['HAAGEN DAZS', 'HAAGEN - DAZS']), ('good taste', ['GOOD TASTE', 'TASTE GOOD']), ('mistura peruana', ['Mistura Peruana', 'MISTURA PERUANA']), ('popeyes', ["POPEYE'S", "Popeye's", 'POPEYES']), ('great wall', ['GREAT WALL', 'Great Wall']), ('ginos pizza', ["GINO'S PIZZA", "Gino's Pizza"]), ('fuku', ['FUKU', 'Fuku']), ('kings kitchen', ['KINGS KITCHEN', "KING'S KITCHEN"]), ('cakes keki modern', ['KEKI MODERN CAKES', 'Keki Modern Cakes']), ('burger chicken kennedy', ['KENNEDY CHICKEN & BURGER', 'Kennedy Chicken & Burger']), ('butler', ['Butler', 'BUTLER']), ('ginos pizzeria restaurant', ["GINO'S RESTAURANT & PIZZERIA", "GINO'S PIZZERIA RESTAURANT"]), ('1 chinese no restaurant', ['NO. 1 CHINESE RESTAURANT', 'NO 1 CHINESE RESTAURANT']), ('pizza prince', ['PIZZA PRINCE', 'PRINCE PIZZA']), ('famous pizza singas', ['Singas Famous Pizza', 'SINGAS FAMOUS PIZZA']), ('good restaurant taste', ['TASTE GOOD RESTAURANT', 'GOOD TASTE RESTAURANT']), ('a mmmthats wrap', ['MMM...THATS A WRAP', "MMM...THAT'S A WRAP"]), ('bellini', ['BELLINI', 'Bellini']), ('and dan johns wings', ['DAN AND JOHNS WINGS', "DAN AND JOHN'S WINGS"]), ('heights mint', ['MINT HEIGHTS', 'Mint Heights']), ('co coffee little roy', ['LITTLE ROY COFFEE CO', 'LITTLE ROY COFFEE CO.']), ('blank coffee street', ['BLANK STREET COFFEE', 'Blank Street Coffee']), ('lounge nicks pizza', ['NICKS PIZZA LOUNGE', "NICK'S PIZZA LOUNGE"]), ('patsys pizzeria', ["PATSY'S PIZZERIA", 'PATSYS PIZZERIA']), ('lucia pizza', ['Lucia Pizza', 'LUCIA PIZZA']), ('tartinery', ['Tartinery', 'TARTINERY']), ('menchies', ['MENCHIES', "MENCHIE'S"]), ('barrys bootcamp', ['BARRYS BOOTCAMP', "BARRY'S BOOTCAMP"]), ('high line standard the', ['THE STANDARD, HIGH LINE', 'THE STANDARD HIGH LINE']), ('cookie crumz', ['Cookie Crumz', 'COOKIE CRUMZ']), ('2 bros carmens kitchen pizza', ['2 BROS PIZZA / CARMENS KITCHEN', "CARMEN'S KITCHEN / 2 BROS PIZZA"]), ('club metropolitan', ['CLUB METROPOLITAN', 'METROPOLITAN CLUB']), ('mi tea', ['MI TEA', 'Mi Tea']), ('cinco de evas mayo x', ["Eva's x Cinco De Mayo", "EVA'S x CINCO DE MAYO", "EVA'S X CINCO DE MAYO"]), ('cream gs ice ices italian louie uncle', ["UNCLE LOUIE G'S ITALIAN ICES & ICE CREAM", 'UNCLE LOUIE GS ITALIAN ICES & ICE CREAM']), ('cafe mocha', ['CAFE MOCHA', 'MOCHA CAFE']), ('hong kong new', ['New Hong Kong', 'NEW HONG KONG']), ('bella luna', ['BELLA LUNA', 'Luna Bella']), ('carry craft', ['CRAFT + CARRY', 'CRAFT & CARRY']), ('sushi yo', ['YO! SUSHI', 'YO SUSHI']), ('7th burger street', ['7th STREET BURGER', '7TH STREET BURGER']), ('bar mayas snack', ['MAYAS SNACK BAR', "MAYA'S SNACK BAR"]), ('concession dog garden hot market', ['GARDEN MARKET  HOT DOG CONCESSION', 'HOT DOG CONCESSION, GARDEN MARKET', 'GARDEN MARKET HOT DOG CONCESSION']), ('cuban cuisine sophies', ['SOPHIES CUBAN CUISINE', "SOPHIE'S CUBAN CUISINE"]), ('applebees', ['APPLEBEES', "APPLEBEE'S"]), ('lobster lukes', ['LUKES LOBSTER', "LUKE'S LOBSTER"]), ('99 cents fresh pizza', ['FRESH PIZZA 99 CENTS', '99 CENTS FRESH PIZZA']), ('bbq chicken', ['BBQ CHICKEN', 'BB.Q CHICKEN']), ('annes auntie cinnabon', ["CINNABON AUNTIE ANNE'S", "AUNTIE ANNE'S / CINNABON"]), ('cafe spot the', ['THE SPOT CAFE', 'THE SPOT CAF']), ('chicken fried kennedy pizza us', ['US KENNEDY FRIED CHICKEN PIZZA', 'US KENNEDY FRIED CHICKEN & PIZZA']), ('rice x yogurt yomies', ["YOMIE'S RICE X YOGURT", "YOMIE'S RICE x YOGURT"]), ('chicken jerk peppas restaurant', ['PEPPAS JERK CHICKEN RESTAURANT', "PEPPA'S JERK CHICKEN RESTAURANT"]), ('wingstop', ['WingStop', 'WING-STOP', 'WINGSTOP', 'Wingstop']), ('burger queens', ['QUEENS BURGER', 'Burger Queens']), ('deli mikes', ['MIKES DELI', "MIKE'S DELI"]), ('east shop snack wind', ['EAST WIND SNACK SHOP', 'East Wind Snack Shop']), ('19 empire restaurant', ['19 EMPIRE RESTAURANT', 'EMPIRE 19 RESTAURANT']), ('jin ramen', ['RAMEN JIN', 'JIN RAMEN']), ('appetit bon', ['Bon Appetit', 'BON APPETIT']), ('at bar garden the', ['Bar at the Garden', 'BAR AT THE GARDEN']), ('baccarat club', ['Baccarat Club', 'BACCARAT CLUB']), ('bar garden grill', ['GARDEN GRILL & BAR', 'GARDEN BAR & GRILL']), ('joes pasta pizza', ["JOE'S PIZZA & PASTA", 'JOES PIZZA & PASTA']), ('china kitchen', ['China Kitchen', 'CHINA KITCHEN']), ('co sushi', ['SUSHI & CO', 'Sushi & Co']), ('bao by kaya', ['BAO by Kaya', 'BAO BY KAYA']), ('starbucks', ['STARBUCKS', 'Starbucks']), ('brooklyn of patrizias', ["PATRIZIA'S OF BROOKLYN", 'PATRIZIAS OF BROOKLYN']), ('brothers pizza', ['BROTHERS PIZZA', "BROTHER'S PIZZA"]), ('bubble tea vivi', ['VIVI BUBBLE TEA', 'ViVi Bubble Tea']), ('colombe la', ['LA COLOMBE', 'La Colombe']), ('franks pizza', ["FRANK'S PIZZA", 'FRANKS PIZZA']), ('house la queen tea', ['LA QUEEN TEA HOUSE', 'La Queen Tea House']), ('finger joint stickys', ["STICKY'S FINGER JOINT", "Sticky's Finger Joint"]), ('just salad', ['Just Salad', 'JUST SALAD']), ('blue bottle coffee', ['BLUE BOTTLE COFFEE', 'Blue Bottle Coffee']), ('bar baya', ['BAYA BAR', 'Baya Bar']), ('mr pizza', ['MR. PIZZA', 'MR  PIZZA']), ('charleys philly steaks', ["CHARLEY'S PHILLY STEAKS", 'CHARLEYS PHILLY STEAKS']), ('coffee jacks', ['JACKS COFFEE', "JACK'S COFFEE"]), ('annes auntie', ["Auntie Anne's", 'AUNTIE ANNES']), ('lechonera pollo restaurant sabroso', ['LECHONERA & POLLO SABROSO RESTAURANT', 'LECHONERA POLLO SABROSO RESTAURANT']), ('chicken kennedy sandwiches', ['KENNEDY CHICKEN &SANDWICHES', 'KENNEDY CHICKEN & SANDWICHES']), ('kyclades taverna', ['Taverna Kyclades', 'TAVERNA KYCLADES']), ('99 cents fresh hot pizza', ['99 CENTS FRESH & HOT PIZZA', 'FRESH 99 CENTS HOT PIZZA']), ('burrito loco', ['BURRITO LOCO', 'LOCO BURRITO']), ('kellys pub', ["KELLY'S PUB", 'KELLYS PUB']), ('juniors', ["JUNIOR'S", 'JUNIORS']), ('misoya', ['MISO-YA', 'MISOYA']), ('coffee roasters rx', ['COFFEE RX ROASTERS', 'COFFEE Rx ROASTERS']), ('chicken jerk peppas', ['PEPPAS JERK CHICKEN', "PEPPA'S JERK CHICKEN"]), ('whitmans', ['WHITMANS', "WHITMAN'S"]), ('empanadas mamas', ["MAMA'S EMPANADAS", 'MAMAS EMPANADAS']), ('cloud m', ['CLOUD M', 'Cloud M']), ('dining downstein hall nyu', ['DOWNSTEIN DINING HALL @ NYU', 'Downstein Dining Hall @NYU'])]

In [16]:
replacements = {}
for t in duplicates:
    n = len(t[1])
    for i in range(1, n):
        # mark as a replacement if they have the same cuisine type
        df1 = inspection_df.filter((inspection_df['DBA'] == t[1][i]) | (inspection_df['DBA'] == t[1][0]))
        if df1.select('CUISINE DESCRIPTION').distinct().count() == 1:
            replacements[t[1][i]] = t[1][0]

In [17]:
replacements

{'PAPA JOHNS': "PAPA JOHN'S",
 'SUSHI GINZA': 'GINZA SUSHI',
 'PAPA JOHNS PIZZA': "PAPA JOHN'S PIZZA",
 'LA PATRONA': 'La Patrona',
 'Fairfield Inn & Suites': 'FAIRFIELD INN & SUITES',
 "GREGORY'S COFFEE": 'GREGORYS COFFEE',
 "DENINO'S PIZZERIA & TAVERN": "DENINO'S PIZZERIA TAVERN",
 'JAIYA THAI ORIENTAL RESTAURANT': 'JAIYA THAI & ORIENTAL RESTAURANT',
 'NEW CHINA': 'New China',
 "RALPH'S  ICES": 'RALPHS ICES',
 "Mighty Quinn's BBQ": "MIGHTY QUINN'S BBQ",
 'TEXAS CHICKEN & BURGER': 'Texas Chicken & Burger',
 'Roma Pizza': 'ROMA PIZZA',
 'Popeyes Louisiana Kitchen': 'POPEYES LOUISIANA KITCHEN',
 "POPEYE'S LOUISIANA KITCHEN": 'POPEYES LOUISIANA KITCHEN',
 'BELLA PIZZA RESTAURANT': 'BELLA PIZZA & RESTAURANT',
 'Playwright Celtic Pub': 'PLAYWRIGHT CELTIC PUB',
 'Sergimmo Salumeria': 'SERGIMMO SALUMERIA',
 'Marathon Coffee': 'MARATHON COFFEE',
 "NINO'S RESTAURANT": 'NINOS RESTAURANT',
 'EMACK & BOLIOS': "EMACK & BOLIO'S",
 'CAPT LOUI': "CAP'T LOUI",
 'KOI SUSHI': 'SUSHI KOI',
 "MAMOUN'S FALAFEL": 'MAMOUNS FALAFEL',
 'JUSTINOS PIZZERIA': "JUSTINO'S PIZZERIA",
 "Luigi's Pizza": 'LUIGIS PIZZA',
 "LUIGI'S PIZZA": 'LUIGIS PIZZA',
 'Jamaican Flavors': 'JAMAICAN FLAVORS',
 "MIKE'S PIZZA": 'MIKES PIZZA',
 "FRIEDMAN'S": 'FRIEDMANS',
 'EMPIRE KITCHEN .': 'EMPIRE KITCHEN',
 'BROOKLYN TEA': 'Brooklyn Tea',
 'ANDREWS COFFEE SHOP': "ANDREW'S COFFEE SHOP",
 'KINGS CHEF': "KING'S CHEF",
 'LIBERTY BAGELS': 'Liberty Bagels',
 'UNCLE JACKS STEAKHOUSE': "UNCLE JACK'S STEAKHOUSE",
 'MOCANA BAKERY': 'BAKERY MOCANA',
 "PARSON'S DINER": 'PARSONS DINER',
 'QDOBA MEXICAN EATS': 'QDOBA Mexican Eats',
 "FISHERMAN'S COVE": 'FISHERMANS COVE',
 'DAVE & BUSTERS': "DAVE & BUSTER'S",
 'TAMASHII RAMEN': 'Tamashii Ramen',
 "EFFY'S CAFE": 'EFFYS CAFE',
 'THANK YOU COME AGAIN': 'THANK YOU, COME AGAIN',
 'DOMINOS PIZZA': "DOMINO'S PIZZA",
 'TACO BELL, PIZZA HUT': 'TACO BELL PIZZA HUT',
 'DOUBLE DRAGON': 'Double Dragon',
 "LUIGI'S PIZZERIA": 'LUIGIS PIZZERIA',
 'Szechuan Kitchen': 'SZECHUAN KITCHEN',
 '& PIZZA': 'PIZZA',
 'CORNER SOCIAL': 'SOCIAL CORNER',
 'MEZCALS RESTAURANT': "MEZCAL'S RESTAURANT",
 '$1 PIZZA SLICE': '$1 SLICE PIZZA',
 'E&AS BAKE N BREW': "E&A'S BAKE N BREW",
 'SILVER PALACE': 'Silver Palace',
 'OH DUMPLINGS': 'OH! DUMPLINGS',
 'BELLA PIZZA': 'PIZZA BELLA',
 'CAFE METRO': 'METRO CAFE',
 'KENTUCKY FRIED CHICKEN': 'Kentucky Fried Chicken',
 'CARVEL, CINNABON': 'CARVEL CINNABON',
 'SUSHI YU': 'YU SUSHI',
 'Vegan On The Fly': 'VEGAN ON THE FLY',
 'CHENS GARDEN': "CHEN'S GARDEN",
 'Poke Bowl': 'POKE BOWL',
 'LENNYS PIZZERIA': "LENNY'S PIZZERIA",
 'Taim Mediterranean kitchen': 'Taim Mediterranean Kitchen',
 "TONY'S PIZZERIA": 'TONYS PIZZERIA',
 'Halal Munchies': 'HALAL MUNCHIES',
 'NO.1 CHINESE RESTAURANT': 'No.1 CHINESE RESTAURANT',
 'Kennedy Fried Chicken and Pizza': 'KENNEDY FRIED CHICKEN AND PIZZA',
 'TACO BELL, KFC': 'KFC, TACO BELL',
 'Deep Indian Kitchen': 'DEEP INDIAN KITCHEN',
 'Dominos': 'DOMINOS',
 "DOMINO'S": 'DOMINOS',
 'JIMBOS HAMBURGER': "JIMBO'S HAMBURGER",
 'PIZZA DAMORE': "PIZZA D'AMORE",
 'BED STUY FISH FRY': 'Bed Stuy Fish Fry',
 'A & S PIZZERIA': 'S & A PIZZERIA',
 'KINGS WOK': "KING'S WOK",
 'ANGELOS PIZZERIA': "ANGELO'S PIZZERIA",
 'HUNGRY BURRITO': 'Hungry Burrito',
 "TGI FRIDAY'S": "T.G.I. FRIDAY'S",
 'HAAGEN - DAZS': 'HAAGEN DAZS',
 'MISTURA PERUANA': 'Mistura Peruana',
 "Popeye's": "POPEYE'S",
 'Great Wall': 'GREAT WALL',
 "Gino's Pizza": "GINO'S PIZZA",
 "KING'S KITCHEN": 'KINGS KITCHEN',
 'Keki Modern Cakes': 'KEKI MODERN CAKES',
 'Kennedy Chicken & Burger': 'KENNEDY CHICKEN & BURGER',
 'NO 1 CHINESE RESTAURANT': 'NO. 1 CHINESE RESTAURANT',
 'PRINCE PIZZA': 'PIZZA PRINCE',
 'GOOD TASTE RESTAURANT': 'TASTE GOOD RESTAURANT',
 "MMM...THAT'S A WRAP": 'MMM...THATS A WRAP',
 'Bellini': 'BELLINI',
 "DAN AND JOHN'S WINGS": 'DAN AND JOHNS WINGS',
 'Mint Heights': 'MINT HEIGHTS',
 'LITTLE ROY COFFEE CO.': 'LITTLE ROY COFFEE CO',
 'Blank Street Coffee': 'BLANK STREET COFFEE',
 "NICK'S PIZZA LOUNGE": 'NICKS PIZZA LOUNGE',
 'LUCIA PIZZA': 'Lucia Pizza',
 "MENCHIE'S": 'MENCHIES',
 "BARRY'S BOOTCAMP": 'BARRYS BOOTCAMP',
 'THE STANDARD HIGH LINE': 'THE STANDARD, HIGH LINE',
 'COOKIE CRUMZ': 'Cookie Crumz',
 'Mi Tea': 'MI TEA',
 'UNCLE LOUIE GS ITALIAN ICES & ICE CREAM': "UNCLE LOUIE G'S ITALIAN ICES & ICE CREAM",
 'NEW HONG KONG': 'New Hong Kong',
 "SOPHIE'S CUBAN CUISINE": 'SOPHIES CUBAN CUISINE',
 "APPLEBEE'S": 'APPLEBEES',
 "LUKE'S LOBSTER": 'LUKES LOBSTER',
 '99 CENTS FRESH PIZZA': 'FRESH PIZZA 99 CENTS',
 'US KENNEDY FRIED CHICKEN & PIZZA': 'US KENNEDY FRIED CHICKEN PIZZA',
 "PEPPA'S JERK CHICKEN RESTAURANT": 'PEPPAS JERK CHICKEN RESTAURANT',
 'WING-STOP': 'WingStop',
 'Wingstop': 'WingStop',
 'Burger Queens': 'QUEENS BURGER',
 'East Wind Snack Shop': 'EAST WIND SNACK SHOP',
 'BON APPETIT': 'Bon Appetit',
 'BAR AT THE GARDEN': 'Bar at the Garden',
 'JOES PIZZA & PASTA': "JOE'S PIZZA & PASTA",
 'CHINA KITCHEN': 'China Kitchen',
 'Starbucks': 'STARBUCKS',
 'PATRIZIAS OF BROOKLYN': "PATRIZIA'S OF BROOKLYN",
 "BROTHER'S PIZZA": 'BROTHERS PIZZA',
 'La Colombe': 'LA COLOMBE',
 'FRANKS PIZZA': "FRANK'S PIZZA",
 'Blue Bottle Coffee': 'BLUE BOTTLE COFFEE',
 'MR  PIZZA': 'MR. PIZZA',
 "JACK'S COFFEE": 'JACKS COFFEE',
 'KENNEDY CHICKEN & SANDWICHES': 'KENNEDY CHICKEN &SANDWICHES',
 'TAVERNA KYCLADES': 'Taverna Kyclades',
 'FRESH 99 CENTS HOT PIZZA': '99 CENTS FRESH & HOT PIZZA',
 'JUNIORS': "JUNIOR'S",
 'MISOYA': 'MISO-YA',
 'COFFEE Rx ROASTERS': 'COFFEE RX ROASTERS',
 "PEPPA'S JERK CHICKEN": 'PEPPAS JERK CHICKEN',
 "WHITMAN'S": 'WHITMANS',
 'Cloud M': 'CLOUD M'}

In [18]:
inspection_df = inspection_df.replace(replacements, subset = 'DBA')

In [19]:
cuisine_rdd = inspection_df.select('CUISINE DESCRIPTION').rdd.flatMap(list)
print(cuisine_rdd.take(5))
duplicates = cuisine_rdd.distinct(). \
	map(fingerprint). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1). \
	mapValues(list). \
	collect()

print(duplicates)

['Pizza', 'Japanese', 'Chinese', 'American', 'Mexican']
[]

In [ ]:
# no replacement required as all cuisines have a different fingerprint key

In [20]:

it_rdd = inspection_df.select('INSPECTION TYPE').rdd.flatMap(list)
print(it_rdd.take(5))
duplicates = it_rdd.distinct(). \
	map(fingerprint). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1). \
	mapValues(list). \
	collect()

print(duplicates)

['Cycle Inspection / Re-inspection', 'Cycle Inspection / Re-inspection', 'Cycle Inspection / Re-inspection', 'Administrative Miscellaneous / Initial Inspection', 'Administrative Miscellaneous / Re-inspection']
[]

In [ ]:
# no replacements required as all inspection types have different fingerprint key

In [21]:
# save cleaned data to file
inspection_df.write.csv(os.path.join('/content', 'DOHMH_New_York_City_Restaurant_Inspection_Results_cleaned_final.csv'), header = True)

In [ ]:
#See which violations were isssued most in 2019 and 2022 to asain and chinese restaurants

inspection_df.createOrReplaceTempView("inspections")

Chinese_violations = spark.sql("""
    SELECT t.year, t.cuisine, t.`VIOLATION DESCRIPTION`, t.count
    FROM (
        SELECT YEAR(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy')) as year,
               CASE WHEN `CUISINE DESCRIPTION` IN ('Asian/Asian Fusion', 'Chinese') THEN 'Asian/Chinese' ELSE `CUISINE DESCRIPTION` END as cuisine, 
               `VIOLATION DESCRIPTION`, COUNT(*) as count,
               ROW_NUMBER() OVER (PARTITION BY YEAR(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy')), CASE WHEN `CUISINE DESCRIPTION` IN ('Asian/Asian Fusion', 'Chinese') THEN 'Asian/Chinese' ELSE `CUISINE DESCRIPTION` END ORDER BY COUNT(*) DESC) as row_num
        FROM inspections
        WHERE YEAR(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy')) IN (2019, 2022)
              AND (CASE WHEN `CUISINE DESCRIPTION` IN ('Asian/Asian Fusion', 'Chinese') THEN 'Asian/Chinese' ELSE `CUISINE DESCRIPTION` END) IN ('Asian/Chinese')
        GROUP BY YEAR(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy')), `VIOLATION DESCRIPTION`, cuisine
    ) t
    WHERE t.row_num <= 3
    ORDER BY t.year DESC, t.count DESC
""")

# convert the PySpark DataFrame to a pandas DataFrame
Chinese_violations_pd = Chinese_violations.toPandas()


# display the pandas DataFrame
display(Chinese_violations_pd)

,year,cuisine,VIOLATION DESCRIPTION,count
0,2022,Asian/Chinese,Non-food contact surface improperly constructe...,736
1,2022,Asian/Chinese,Non-food contact surface or equipment made of ...,733
2,2022,Asian/Chinese,Establishment is not free of harborage or cond...,708
3,2019,Asian/Chinese,Non-food contact surface improperly constructe...,528
4,2019,Asian/Chinese,Facility not vermin proof. Harborage or condit...,388
5,2019,Asian/Chinese,Evidence of mice or live mice present in facil...,250

In [ ]:
#Run a SQL query to filter the inspection data by cuisine and date range
inspection_df.createOrReplaceTempView("inspection_data")


results = spark.sql("""
    SELECT `CUISINE DESCRIPTION` as cuisine,
           count(*) as violation_count, YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) as year
    FROM inspection_data
    WHERE MONTH(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy-MM-dd')) BETWEEN 01 AND 05
        AND `CUISINE DESCRIPTION` IN ('Asian', 'Chinese')
    GROUP BY cuisine, year
    HAVING year BETWEEN 2019 AND 2023
    ORDER BY year DESC, cuisine ASC
""")

# Display the results
results.show()

+-------+---------------+----+
|cuisine|violation_count|year|
+-------+---------------+----+
|Chinese|           3212|2023|
|Chinese|           3687|2022|
|Chinese|              5|2021|
|Chinese|           1744|2020|
|Chinese|            465|2019|
+-------+---------------+----+

In [ ]:
inspection_df.groupBy('CUISINE DESCRIPTION').count().orderBy('count', ascending=False).show()

+--------------------+-----+
| CUISINE DESCRIPTION|count|
+--------------------+-----+
|            American|34952|
|             Chinese|19788|
|               Pizza|12423|
|          Coffee/Tea|12077|
|      Latin American| 8211|
|             Mexican| 7921|
|             Italian| 7474|
|           Caribbean| 7256|
|Bakery Products/D...| 7081|
|            Japanese| 6972|
|             Spanish| 5613|
|             Chicken| 5519|
|                null| 4294|
|          Sandwiches| 4215|
|              Donuts| 3743|
|  Asian/Asian Fusion| 3369|
|Juice, Smoothies,...| 3180|
|          Hamburgers| 3173|
|                Thai| 3045|
|       Jewish/Kosher| 3024|
+--------------------+-----+
only showing top 20 rows

In [ ]:
inspection_df.groupBy('ZIPCODE').count().orderBy('count', ascending=False).show()

+-------+-----+
|ZIPCODE|count|
+-------+-----+
|  10003| 4768|
|  10013| 4496|
|  10019| 4218|
|  10036| 4003|
|  10002| 3812|
|  10001| 3617|
|  11354| 3494|
|  11220| 3452|
|  11201| 3308|
|  10012| 3259|
|  10014| 3240|
|  10016| 3179|
|  10011| 3089|
|  11372| 3042|
|  10022| 2882|
|  11211| 2863|
|   null| 2778|
|  10018| 2713|
|  11215| 2441|
|  11101| 2349|
+-------+-----+
only showing top 20 rows

In [ ]:

inspection_df.filter( inspection_df["ZIPCODE"].isNull()).show(10)

+--------+--------------------+---------+--------+--------------------+-------+----------+--------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+--------+---------+---------------+----------------+------------+----+---+----+---------------+---------+-------------------+------------------+----------------------+----------------+
|   CAMIS|                 DBA|     BORO|BUILDING|              STREET|ZIPCODE|     PHONE| CUISINE DESCRIPTION|INSPECTION DATE|              ACTION|VIOLATION CODE|VIOLATION DESCRIPTION| CRITICAL FLAG|SCORE|GRADE|GRADE DATE|RECORD DATE|     INSPECTION TYPE|Latitude|Longitude|Community Board|Council District|Census Tract| BIN|BBL| NTA|Location Point1|Zip Codes|Community Districts|Borough Boundaries|City Council Districts|Police Precincts|
+--------+--------------------+---------+--------+--------------------+-------+----------+--------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+--------+---------+---------------+----------------+------------+----+---+----+---------------+---------+-------------------+------------------+----------------------+----------------+
|50105605|LALIBELA ETHIOPIA...|Manhattan|    2084|FREDERICK DOUGLAS...|   null|9178819775|           Ethiopian|     11/29/2021|Violations were c...|           04M| Live roaches pres...|      Critical|   45| null|      null| 04/14/2023|Pre-permit (Opera...|       0|        0|           null|            null|        null|null|  1|null|           null|     null|               null|              null|                  null|            null|
|41395519|CITI FIELD STAND 321|   Queens|     000|126TH ST & ROOSEV...|   null|7185958100|            American|     06/13/2017|No violations wer...|          null|                 null|Not Applicable|    0|    A|06/13/2017| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  4|null|           null|     null|               null|              null|                  null|            null|
|50039447|         CHINA HOUSE|    Bronx|    1572|       E 174TH STEET|   null|7188936187|             Chinese|     03/09/2019|Violations were c...|           20F| Current letter gr...|  Not Critical| null| null|      null| 04/14/2023|Administrative Mi...|       0|        0|           null|            null|        null|null|  2|null|           null|     null|               null|              null|                  null|            null|
|50068583|RED STAR CHINESE ...|Manhattan|    2529|ADAM CLAYTON POWE...|   null|6463355592|             Chinese|     05/09/2019|Violations were c...|           04L| Evidence of mice ...|      Critical|   30| null|      null| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  1|null|           null|     null|               null|              null|                  null|            null|
|41395496|CITI FIELD TWO BO...|   Queens|     126|    ROOSEVELT AVENUE|   null|7185958100|            American|     06/07/2016|No violations wer...|          null|                 null|Not Applicable|    0|    A|06/07/2016| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  4|null|           null|     null|               null|              null|                  null|            null|
|41395505|CITI FIELD NATHAN...|   Queens|     000|126TH & ROOSEVELT...|   null|7185958100|             Hotdogs|     06/07/2016|No violations wer...|          null|                 null|Not Applicable|    0|    A|06/07/2016| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  4|null|           null|     null|               null|              null|                  null|            null|
|41423331|CHOP-STICKS RESTA...|    Bronx|    7718|           21 AVENUE|   null|7182048119|             Chinese|     04/04/2022|Violations were c...|           09B| Thawing procedure...|  Not Critical|    6|    A|04/04/2022| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  2|null|           null|     null|               null|              null|                  null|            null|
|41203533|  GREAT TASTE BAKERY|Manhattan|    3335|    CATHERINE STREET|   null|6466424110|Bakery Products/D...|     08/16/2021|Violations were c...|           22F| MISBRANDED AND LA...|  Not Critical| null| null|      null| 04/14/2023|Administrative Mi...|       0|        0|           null|            null|        null|null|  1|null|           null|     null|               null|              null|                  null|            null|
|40720858|PIER SIXTY ONE-TH...|Manhattan|       0|CHELSEA PIERS - P...|   null|2123366146|            American|     03/08/2022|Violations were c...|           04L| Evidence of mice ...|      Critical|   29| null|      null| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  1|null|           null|     null|               null|              null|                  null|            null|
|41203533|  GREAT TASTE BAKERY|Manhattan|    3335|    CATHERINE STREET|   null|6466424110|Bakery Products/D...|     11/18/2019|Violations were c...|           02B| Hot food item not...|      Critical|   24|    B|11/18/2019| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  1|null|           null|     null|               null|              null|                  null|            null|
+--------+--------------------+---------+--------+--------------------+-------+----------+--------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+--------+---------+---------------+----------------+------------+----+---+----+---------------+---------+-------------------+------------------+----------------------+----------------+
only showing top 10 rows

In [ ]:
inspection_df.groupBy('ACTION').count().orderBy('count', ascending=False).show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------+------+
|ACTION                                                                                                                            |count |
+----------------------------------------------------------------------------------------------------------------------------------+------+
|Violations were cited in the following area(s).                                                                                   |189005|
|Establishment Closed by DOHMH. Violations were cited in the following area(s) and those requiring immediate action were addressed.|7547  |
|null                                                                                                                              |4294  |
|Establishment re-opened by DOHMH.                                                                                                 |1871  |
|No violations were recorded at the time of this inspection.                                                                       |1158  |
|Establishment re-closed by DOHMH.                                                                                                 |4     |
+----------------------------------------------------------------------------------------------------------------------------------+------+

In [ ]:
#INSPECTIONS INCREASED BY APPROX. 203 PERCENT FROM 2019 TO 2022
inspection_df.createOrReplaceTempView("inspections")
inspection_by_year = spark.sql("""
    SELECT YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) as year, COUNT(*) as count
    FROM inspections
    GROUP BY year
    ORDER BY year ASC
    
""")
inspection_by_year.show()

23/05/02 19:48:16 WARN org.apache.spark.sql.catalyst.util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----+-----+
|year|count|
+----+-----+
|1900| 4335|
|2011|    1|
|2012|    2|
|2013|    6|
|2015|   20|
|2016|  670|
|2017| 2386|
|2018| 3982|
|2019|30403|
|2020|16202|
|2021|21645|
|2022|92082|
|2023|32217|
+----+-----+

In [ ]:
#Ameircan restaruants inreased up by 133 percent from 2019 to 2022
#Chinese restaruants inreased up by 231 percent from 2019 to 2022


#find avg number of restaurants
Asians_restaurants = spark.sql("""
    SELECT YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) as year, 
           CASE WHEN `CUISINE DESCRIPTION` IN ('Asian/Asian Fusion', 'Chinese') THEN 'Asian/Chinese' ELSE `CUISINE DESCRIPTION` END as cuisine,
           COUNT(*) as count
    FROM inspections
    WHERE YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) = 2019 OR YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) = 2022
    GROUP BY year, cuisine
    HAVING cuisine = 'Asian/Chinese' OR cuisine ='American'
    ORDER BY year ASC
""")
Asians_restaurants.show()

+----+-------------+-----+
|year|      cuisine|count|
+----+-------------+-----+
|2019|     American| 6292|
|2019|Asian/Chinese| 3391|
|2022|     American|14700|
|2022|Asian/Chinese|11208|
+----+-------------+-----+

In [ ]:
grades_by_cusine = spark.sql("""
    SELECT YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) as year, grade,
           CASE WHEN `CUISINE DESCRIPTION` IN ('Asian/Asian Fusion', 'Chinese') THEN 'Asian/Chinese' ELSE `CUISINE DESCRIPTION` END as cuisine,
           COUNT(*) as count
    FROM inspections
    WHERE YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) = 2019 OR YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) = 2022
    GROUP BY year, grade, cuisine
    HAVING (cuisine = 'Asian/Chinese' OR cuisine ='American') AND grade = 'A'
    ORDER BY grade DESC
""")
grades_by_cusine.show(100)

+----+-----+-------------+-----+
|year|grade|      cuisine|count|
+----+-----+-------------+-----+
|2019|    A|Asian/Chinese| 1378|
|2022|    A|Asian/Chinese| 2957|
|2019|    A|     American| 3203|
|2022|    A|     American| 5925|
+----+-----+-------------+-----+